# Discord server token for your bot
DISCORD_TOKEN=your_discord_bot_token

# Chat generation API key
GEMINI_API_KEY=your_gemini_api_key

# Embed model for vectorizing messages and documents
GEMINI_EMBED_MODEL=gemini-embedding-001
GEMINI_MODEL=gemini-3-flash-preview

# SPECIFIC forum channel that the chatbot listens to
ALLOWED_FORUM_ID=your_allowed_forum_channel_id

# Database secrutity info - replace with your own secure credentials
POSTGRES_USER=app
POSTGRES_PASSWORD=replace_with_a_long_random_password
POSTGRES_DB=rag

# Debug mode - set to False in production
DEBUG=True
